{% extends 'base/base.html' %}
{% load static %}


{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card p-4 shadow">

            <h4 class="text-center">Réinitialisation</h4>

            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>

                <button class="btn btn-primary w-100">
                    Envoyer le code OTP
                </button>
            </form>

        </div>
    </div>
</div>

{% endblock %}